@import './criminals.css';
@import './officers.css';
@import './notes.css';
@import './form.css';

body {
    background-image: url(../images/sharon-mccutcheon-WqPAETBU2G8-unsplash.jpg);
}
h2 {
    color:#d7effc;
    box-shadow: 1px 0px 7px linen;
    width: fit-content;
    padding: 0 1rem;

}
.filters {
    display:flex;
    margin: 1rem;
}

.filter {
    margin: 0 .5rem;
}

.lists {
    display: flex;
    flex-direction: row;
}

.criminalsContainer {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noteListContainer {
    flex: 1;
}

.noteListButton {
    display: flex;
    justify-content: flex-end;
}